<div class="container">
<h1><%= @restaurant.name %></h1>
</br>
</br>
<%= @restaurant.address %>
</br>
<small> <%= @restaurant.category %> </small>
</br>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">
      <%= review.rating %>
      <%= review.content %>
    </li>
  <% end %>
</ul>
</br>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
</br>

<%= link_to "Back to list", restaurants_path%>

</div>
